/*global*/
a {
    color: white;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
}

h1 {
    color: white;
}

h3 {
    margin: 10px 0px;
}

img {
    max-width: 100%;
    margin: 10px 0px;
}

/*header*/
.site-header {
    background-image: url(img/header.jpg);
    height: 300px;
    background-size: cover;
    text-align: center;
    color: white;
}

/*about*/
.about-container {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

/*utilities*/
.container {
    width: 80%;
    margin: 50px auto;

}

.text-price {
    color: green;
    font-weight: bold;
}

.btn-details {
    display: block;
    background-color: orange;
    color: white;
    font-size: 12px;
    padding: 5px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

}


/*Houses*/
.houses-container {
    display: flex;


}


.houses-item {
    background-color: #dedede;
    margin-right: 10px;
    flex-direction: row;
}

.houses-item-text {
    padding: 20px;


}

.houses-item-details {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.icons-container {
    display: flex;
    justify-content: space-around;
}

.icons-container img {
    margin-right: 10px;
}

/*table*/
@media((min-width:601px)and(max-width:768px)) {
    .about-container {
        flex-direction: column;
        text-align: justify;
    }

    .about-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-container img {
        width: 20%;
    }

    .house-container {
        flex-direction: column;
    }

    .house-item {
        margin: 10px 0px;
    }


}


/*phone*/
@media((max-width:600px)) {
    .about-container {
        flex-direction: column;
        text-align: justify;
    }

    .about-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-container img {
        width: 40;
    }

    .house-container {
        flex-direction: column;
    }

    .house-item {
        margin: 10px 0px;
    }
}